<section class="executions-container">

  <!-- Accordion for Execution Form and History -->
  <accordion class="executions-accordion" [isAnimated]="true">

    <!-- Back Button -->
    <button class="btn-back-floating" (click)="goBack()">
      <i class="bi bi-arrow-left"></i>
    </button>

    <!-- Experiment Information -->
    <accordion-group>
      <div accordion-heading>
        <span>Experiment Information</span>
      </div>

      <app-executions-intro
        [currentExperiment]="currentExperiment()!"
      />
    </accordion-group>

    <!-- Execution Form -->
    <accordion-group>
      <div accordion-heading>
        <span>Create Execution</span>
      </div>

      <!-- Navigation Bar -->
      <div class="execution-nav-bar">
        <button 
          class="text-blue-600 font-medium"
          [class.underline]="multipleExecutions() === false"
          (click)="multipleExecutions.set(false)"
          [disabled]="multipleExecutions() === false"
        >
          Individual
        </button>
        <button 
          class="text-blue-600 font-medium"
          [class.underline]="multipleExecutions() === true"
          (click)="multipleExecutions.set(true)"
          [disabled]="multipleExecutions() === true"
        >
          Multiple
        </button>
      </div>

      <!-- Conditional Rendering Based on Execution Mode -->
      @if (multipleExecutions()) {
        <app-execution-drag-drop
          [currentExperiment]="currentExperiment()!"
        />
      } @else {
        <app-executions-form
          [currentExperiment]="currentExperiment()!"
        />
      }
    </accordion-group>

    <!-- Execution History -->
    <accordion-group>
      <div accordion-heading>
        <span>History Executions</span>
        <button class="btn view-all-btn" (click)="viewAll($event)">View all</button>
      </div>

      <app-executions-history-lite/>
    </accordion-group>

  </accordion>

</section>
