@use './vars' as *;

:root {
  --white: #{$white};

  // Blue variants
  --main-blue: #{$main-blue};

  --light-blue: #{$light-blue};
  --medium-blue: #{$medium-blue};
  --darker-blue: #{$darker-blue};

  // Turquoise variants
  --secondary-turquoise: #{$secondary-turquoise};

  --light-turquoise: #{$light-turquoise};
  --medium-turquoise: #{$medium-turquoise};
  --darker-turquoise: #{$darker-turquoise};

  // Grey variants
  --dark-grey: #{$dark-grey};
  --darker-grey: #{$darker-grey};

  --light-grey: #{$light-grey};
  --medium-light-grey: #{$medium-light-grey};
  --darker-light-grey: #{$darker-light-grey};

  --grey-opacity: #{$grey-opacity};

  // Orange variants
  --orange: #{$orange};

  --light-orange: #{$light-orange};
  --medium-orange: #{$medium-orange};
  --darker-orange: #{$darker-orange};

  // Green variants
  --green: #{$green};
    
  // Alters: Light theme color - Dark theme color
  --white-baseBlue: #{$white};
  --white-lightGrey: #{$white};

  --mainBlue-lightGrey: #{$main-blue};
  --mainBlue-turquoise: #{$main-blue};
  --mediumBlue-mediumTurquoise: #{$medium-blue};
  --darkerBlue-mediumTurquoise: #{$darker-blue};
  --darkerBlue-darkerTurquoise: #{$darker-blue};

  --lightGrey-darkGrey: #{$light-grey};
  --darkGrey-lightGrey: #{$dark-grey};

  --lightGrey-layoutBlue: #{$light-grey};
  --mediumLightGrey-layoutBlue: #{$medium-light-grey};
  --mediumLightGrey-layoutButton-hover-blue: #{$medium-light-grey};
  --darkerLightGrey-layoutButton-active-blue: #{$darker-light-grey};
}

// ===============================
// MODO OSCURO
// ===============================

[data-theme="dark"] {
  --white: #{$white};
  
  // Blue variants
  --main-blue: #{$darkTheme-main-blue};

  --light-blue: #{$darkTheme-light-blue};
  --medium-blue: #{$darkTheme-medium-blue};
  --darker-blue: #{$darkTheme-darker-blue};

  // Turquoise variants
  --secondary-turquoise: #{$darkTheme-secondary-turquoise};

  --light-turquoise: #{$darkTheme-light-turquoise};
  --medium-turquoise: #{$darkTheme-medium-turquoise};
  --darker-turquoise: #{$darkTheme-darker-turquoise};

  // Grey variants
  --dark-grey: #{$darkTheme-dark-grey};
  --darker-grey: #{$darkTheme-darker-grey};

  --light-grey: #{$darkTheme-light-grey};
  --medium-light-grey: #{$darkTheme-medium-light-grey};
  --darker-light-grey: #{$darkTheme-darker-light-grey};

  --grey-opacity: #{$darkTheme-grey-opacity};

  // Orange variants
  --orange: #{$darkTheme-orange};

  --light-orange: #{$darkTheme-light-orange};
  --medium-orange: #{$darkTheme-medium-orange};
  --darker-orange: #{$darkTheme-darker-orange};

  // Green variants
  --green: #{$darkTheme-green};

  // Alters: Light theme color - Dark theme color
  --white-baseBlue: #{$darkTheme-base-blue};
  --white-lightGrey: #{$darkTheme-light-grey};

  --mainBlue-lightGrey: #{$darkTheme-light-grey};
  --mainBlue-turquoise: #{$darkTheme-secondary-turquoise};
  --mediumBlue-mediumTurquoise: #{$darkTheme-medium-turquoise};
  --darkerBlue-mediumTurquoise: #{$darkTheme-medium-turquoise};
  --darkerBlue-darkerTurquoise: #{$darkTheme-darker-turquoise};

  --lightGrey-darkGrey: #{$darkTheme-dark-grey};
  --darkGrey-lightGrey: #{$darkTheme-light-grey};

  --lightGrey-layoutBlue: #{$darkTheme-layout-blue};
  --mediumLightGrey-layoutBlue: #{$darkTheme-layout-blue};
  --mediumLightGrey-layoutButton-hover-blue: #{$darkTheme-layoutButton-hover-blue};
  --darkerLightGrey-layoutButton-active-blue: #{$darkTheme-layoutButton-active-blue};
}