<section class="executions-history-lite-section">

  <!-- Action Buttons -->
  <div class="history-buttons d-flex justify-content-end mb-2">
    <!-- Run All Button -->
    <button class="btn btn-sm btn-outline-primary me-2" (click)="runAll()">
      <i class="bi bi-play-fill"></i> Run All
    </button>

    <!-- Export Excel Button -->
    <button class="btn btn-sm btn-outline-success" (click)="downloadExcel()">
      <i class="bi bi-file-earmark-spreadsheet"></i> Export Excel
    </button>
  </div>

  @if (temporalExecutions().length === 0) {
    <div class="history-empty">
      <p>
        The <b>temporary</b> execution <b>history</b> is <b>empty</b>.
        @if (executions().length !== 0) {
          If you want to see all your executions, you can click
          <button 
            class="btn btn-link p-0 align-baseline history-link" 
            (click)="viewAll($event)">
            view all
          </button>.
        }
      </p>
    </div>
  } @else {
    <card-execution-history
      [executions]="temporalExecutions().slice(0, 10)"
    />
  }
</section>