<div class="executions-history-complete">

  <!-- Back Button -->
  <button class="btn-back-floating" (click)="goBack()">
    <i class="bi bi-arrow-left"></i>
  </button>
  
  <!-- Title -->
  <h2>{{ currentExperiment()!.name }} - Execution History</h2>

  <div class="filters-container">

    <!-- Filters Section -->
    <div class="flex items-center gap-4">
      <label for="statusFilter" class="mr-2">Status:</label>
      <select id="statusFilter" (change)="updateStatus($event)">
        <option value="all">All</option>
        @for(status of statusOptions; track status) {
          <option [value]="status">{{executionStatusLabels[status]}}</option>
        }
      </select>

       @if (searchOptions().status === ExecutionStatus.FINISHED || searchOptions().status === ExecutionStatus.ERROR) {
        <label for="sortOrder" class="ml-4 mr-2">Sort:</label>
        <select id="sortOrder" [value]="searchOptions().executedAt" (change)="updateOrder($event)">
          <option [value]="OrderDirection.ASC">Oldest first</option>
          <option [value]="OrderDirection.DESC">Newest first</option>
        </select>
      }
    </div>

    <!-- Action Buttons -->
    <div class="actions flex gap-2">
        <!-- Run All Button -->
        <button class="btn btn-sm btn-outline-primary me-2" (click)="runAll()">
          <i class="bi bi-play-fill"></i> Run All
        </button>

        <!-- Export Excel Button -->
        <button class="btn btn-sm btn-outline-success" (click)="downloadExcel()">
          <i class="bi bi-file-earmark-spreadsheet"></i> Export Excel
        </button>
    </div>

  </div>

  <!-- Pagination Top -->
  @if (totalExecutions() > limitExecutions) {
    <div class="pagination">
      <ngb-pagination
        [pageSize]="limitExecutions"
        [collectionSize]="totalExecutions()"
        [(page)]="page"
        (pageChange)="updatePage($event)">
      </ngb-pagination>
    </div>
  }
  

  <!-- Execution History Cards -->
  @if (executions().length === 0) {
    <div class="history-empty">
      @if (searchOptions().status === undefined) {
        <p>The temporary execution <b>history</b> is <b>empty</b>.</p>
      } @else {
        <p>No executions found for the selected filters.</p>
      }
		</div>
  } @else {
    <card-execution-history
      [executions]="executions()"
      [history]="true"
    />
  }

  <!-- Pagination Bottom -->
  @if (totalExecutions() > limitExecutions) {
    <div class="pagination flex justify-between mb-2">
      <ngb-pagination
        [pageSize]="limitExecutions"
        [collectionSize]="totalExecutions()"
        [(page)]="page"
        (pageChange)="updatePage($event)">
      </ngb-pagination>
    </div>
  }
</div>