<section class="experiment-info">

  <!-- Experiment Name -->
  <h3>Name - {{ currentExperiment().name }}</h3>
  
  <!-- Experiment Description -->
  @if(currentExperiment().description){
    <div class="description-info">
      <h4>Description</h4>
      <p>{{ currentExperiment().description }}</p>
    </div>
  }

  <!-- Experiment Models -->
  <div class="model-list-info">
    <h4>Models:</h4>
    <ul>
      @for(model of currentExperiment().models; let i = $index; track i) {
        <li>{{ model }}</li>
      }
    </ul>
  </div>

  <!-- Experiment Prompts -->
  <div class="prompts-list-info">
    <h4>Prompts:</h4>
    <ol>
      @for(prompt of currentExperiment().prompts; let i = $index; track i) {
        <li>{{ prompt }}</li>
      }
    </ol>
  </div>

  <!-- Experiment Variables -->
  <div class="variables-list-info">
    <h4>Variables:</h4>
    <ul>
      @for(variable of currentExperiment().variables; let i = $index; track i) {
        <li>
            <!-- Experiment Variable Name and Type -->
            <strong>{{ variable.name }}</strong> - {{ variableTypeLabels[variable.type] }}

            <!-- Experiment Variable Description -->
            @if(variable.validations.description){
              <p>{{ variable.validations.description }}</p>
            }

            <!-- Experiment Variable Validations -->
            <ul>
              @if(variable.validations) {
                @for(validation of getValidationEntries(variable.validations); let j = $index; track j) {
                  <li>{{ validation[0] }}: {{ validation[1] }}</li>
                }
              }
            </ul>
        </li>
      }
    </ul>
  </div>

  <!-- Experiment LLM Configuration -->
  <div class="configuration-info">
    <h4>LLM Configuration:</h4>
    <ul>
      @for(configuration of getConfigurationEntries(currentExperiment().llmConfigs); let i = $index; track i) {
        <li>{{ configuration[0] }}: {{ configuration[1] }}</li>
      }
    </ul>
  </div>
</section>
