// Experiment history styles
.experiment-history {
  padding: 1.5rem 2rem;

  // History title styles
  h3 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--mainBlue-turquoise);
    font-family: 'Space Grotesk', sans-serif;
    
    position: relative;
    padding-left: 1rem;
    
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 60%;
      background: var(--secondary-turquoise);
      border-radius: 2px;
    }

    &:first-of-type::before {
      background: var(--orange);
    }
  }

  // History empty state styles
  .history-empty {
    color: var(--darkGrey-lightGrey);
    text-align: center;
    margin-top: 2rem;

    b {
      color: var(--mainBlue-turquoise)
    }
  }

  & > :not(:last-child) {
    margin: 2rem 0rem 1.5rem 0rem;
  }
}