<section class="register">
  <!-- Title and Intro -->
  <h2><b>Create your account</b></h2>
  <p>Sign up to start using <span class="logo-font"><b>Chatwords</b></span>.</p>

  <!-- Register Form -->
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <!-- Email Field and its Error Handling -->
    <div class="form-group">
      <label for="email">Email</label>
      <input
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted() && 
            (isFieldInvalid('email', 'required') || isFieldInvalid('email', 'email') || isFieldInvalid('email', 'maxlength'))
        }"
        type="email"
        id="email"
        formControlName="email"
        autocomplete="email"
        placeholder="Introduce your email"
      >
      @if (submitted() && isFieldInvalid('email', 'required')) {
        <small class="text-danger error-message">Email is required</small>
      }
      @if (submitted() && isFieldInvalid('email', 'email')) {
        <small class="text-danger error-message">Please enter a valid email address.</small>
      }
      @if (submitted() && isFieldInvalid('email', 'maxlength')) {
        <small class="text-danger">Email must be less than 254 characters</small>
      }
    </div> 

    <!-- Username Field and its Error Handling -->
    <div class="form-group">
      <label for="email">Username</label>
      <input
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted() &&
            (isFieldInvalid('username', 'required') || isFieldInvalid('username', 'minlength') || isFieldInvalid('username', 'maxlength'))
        }"
        type="text"
        id="username"
        formControlName="username"
        autocomplete="username"
        placeholder="Introduce your username"
      >
      @if (submitted() && isFieldInvalid('username', 'required')) {
        <small class="text-danger">Username is required</small>
      }
      @if (submitted() && isFieldInvalid('username', 'minlength')) {
        <small class="text-danger">Username must be at least 3 characters</small>
      }
      @if (submitted() && isFieldInvalid('username', 'maxlength')) {
        <small class="text-danger">Username must be less than 30 characters</small>
      }
    </div> 
    
    <!-- Password Field and its Error Handling -->
    <div class="form-group">
      <label for="password">Password</label>
      <div class="password-input-container">
        <input
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted() && 
              (isFieldInvalid('password', 'required') || isFieldInvalid('password', 'minlength') || isFieldInvalid('password', 'maxlength'))
          }"
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          formControlName="password"
          placeholder="Introduce your password"
        >

        <button 
          type="button" 
          class="btn btn-outline-secondary password-toggle-btn"
          (click)="togglePasswordVisibility()"
          aria-label="Toggle password visibility"
        >
          <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
        </button>
      </div>
      @if (submitted() && isFieldInvalid('password', 'required')) {
        <small class="text-danger">Password is required</small>
      }
      @if (submitted() && isFieldInvalid('password', 'minlength')) {
        <small class="text-danger">Password must be at least 4 characters</small>
      }
      @if (submitted() && isFieldInvalid('password', 'maxlength')) {
        <small class="text-danger">Password must be less than 255 characters</small>
      }
    </div> 

    <!-- Confirm Password Field and its Error Handling -->
    <div class="form-group">
      <label for="confirmPassword">Confirm password</label>
      <div class="confirmPassword-input-container">
        <input
          class="form-control"
          [ngClass]="{'is-invalid': submitted() && 
            (isFieldInvalid('confirmPassword', 'required') || isFieldInvalid('confirmPassword', 'passwordMismatch'))
          }"
          [type]="showConfirmPassword ? 'text' : 'password'"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirm your password"
        >

        <button 
          type="button" 
          class="btn btn-outline-secondary password-toggle-btn"
          (click)="toggleConfirmPasswordVisibility()"
          aria-label="Toggle password confimation visibility"
        >
          <i [class]="showConfirmPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
        </button>
      </div>
      @if (submitted() && isFieldInvalid('confirmPassword', 'required')) {
        <small class="text-danger">Please confirm your password</small>
      }
      @if (submitted() && isFieldInvalid('confirmPassword', 'passwordMismatch')) {
        <small class="text-danger">Passwords do not match</small>
      }
    </div> 
    
    <!-- Submit and general Error Handling -->
    <button type="submit" class="btn btn-secondary btn-register" [disabled]="loading()">
      @if (loading()) {
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span> 
        Registering...
      } @else {
        Register
      }
    </button>

    @if (registerError) {
      <small class="text-danger error-message">{{ registerError }}</small>
    }
  </form>

  <!-- Login Link -->
  <div class="login-link">
    Already have an account?
    <a routerLink="/login">Log in here</a>
  </div>
</section>