<header>
  <!-- Logo and Home Link -->
  <h1 id="logo" (click)="goHome()">
    <img class="logo-light" src="/Logo_Chatwords_Text.svg" alt="ChatWords">
    <img class="logo-dark" src="/Logo_Chatwords_Text_Dark.png" alt="ChatWords">
  </h1>

  <!-- Username and Menu for Settings or Logout -->
  @if(isLoggedIn() && currentUser()?.username) {
    <div class="dropdown">
      <button 
        class="btn" 
        type="button" 
        id="userDropdown" 
        data-bs-toggle="dropdown" 
        aria-expanded="false">
        
        <i class="bi bi-person-circle"></i>
        {{ currentUser()!.username }}
        <i class="bi bi-chevron-down"></i>
      </button>

      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
        <li>
          <a class="dropdown-item" (click)="goToSettings()">
            <i class="bi bi-gear"></i> Settings
          </a>
        </li>
        
        <li>
          <button class="dropdown-item" (click)="logout()">
            <i class="bi bi-box-arrow-right"></i> Log out
          </button>
        </li>
      </ul>
    </div>
  }
</header>