<div class="layout">
    <!-- Header component for the application -->
    <app-header/>

    <!-- Main content area where routed components will be displayed -->
    <router-outlet/>
    <ngx-sonner-toaster theme="dark"/>

    <!-- Footer component with GitHub link -->
    <footer class="github-link">
        <span>ChatWords</span>
        <a href="https://github.com/WordsGPT/chatLab.git" target="_blank">Visit our GitHub <i class="bi bi-github"></i></a> to learn more information about this project.
    </footer>
</div>